@charset "utf-8";

html, body{margin:0; padding:0; font-family:Helvetica,Arial,sans-serif; width:100%; height:100%;}
body{background:#49a1cc url("images/background.jpg") no-repeat scroll 0 0 / contain;}

.hamburger{display:none; max-height:94px;}

header{max-width:1000px; width:100%; margin:0 auto;}
header h1{display:inline-block;}
#container{position:relative; margin:0 auto; padding:0; max-width:1000px; width:100%;min-height:100%;}
#float_container{position:absolute; min-height:100%;background:rgba(255,255,255,0.9); width:100%; max-width:1000px;}
#cover{display:none;}

h2{font-size:1.2em;}
li{padding:0.35em 0;}
code{font-size:1.25em; background:#eee; line-height:1.5em;}
figure{margin:20px 0;}
figure img{max-width:100%;}
figcaption {font-style:oblique;color:#555;margin-top:-20px;}

dt{margin-top:1em;}
dd{margin-left:0; padding-left:1em; border-left:2px solid #ddd;}
h1 span{display:block; font-size:70%; color:#555; line-height:1.2em;}

a{color:#368;}
hr{height:0;border:none;border-top:1px solid #ddd;}

footer {
  background: #fff none repeat scroll 0 0;
  padding: 20px 60px 100px;
  position: absolute;
  text-align: center;
  font-size:12px;
  border-top:1px solid #ddd;
}

nav{float:left; position:absolute; width:250px; font-size:1em; border-right:1px solid #ddd; height:100%; margin-top:10px;}
nav ul{list-style-type:none;margin:0 0 10px;padding:0 0 10px;border-bottom:1px solid #ddd;}
nav li{margin:0;padding:0;}
nav li a{display:block; padding:10px 0 10px 20px; text-decoration:none; color:#212121;}
nav li a:hover{background:#cde;}

main{float:right; margin:0 auto 128px; width:calc(100% - 251px - 50px); max-width:700px; min-height:1000px; display:block; padding:0 25px; font-size:1.25em; line-height:1.5em; color:#333; }
main h1{font-size:1.6em; line-height:1.2em;}

#music{position:fixed; left:0; bottom:0; width:100%; height:64px; background:#fff; box-shadow: 0px -5px 5px rgba(0,0,0,0.25);z-index:998;}

.left{float:left; margin:0 1em 1em 0;}
.right{float:right; margin:0 0 1em 1em;}

.videoWrapper {
  height: 0;
  padding-bottom: 66%;
  padding-top: 25px;
  position: relative;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#container2 {
  display: block;
  height: 1465px;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

@media (max-width: 1000px) {
.hamburger{display:inline-block; width:94px;}
nav{float:none; position:fixed; top:0; left:0; height:100%; background:#fff; overflow-y:scroll; box-shadow: 5px 0 5px rgba(0,0,0,0.25); z-index:999; margin:0;}
main{float:none; width:92%; padding: 0 4%;}
#container{margin:0;}
#cover{display:block;position:fixed;top:0px;background:rgba(0,0,0,0.6);width:100%;height:100%;z-index:997;}
.closed{display:none !important;}

.left{float:none; display:block;}
.right{float:none; display:block;}
}
@media (max-width: 640px) {
.hamburger{width:62px;}
header img{height:62px;}
main h1{font-size:1.2em;}
h2{font-size:1em;}
h3{font-size:0.9em;}
code{font-size:1em; background:#eee; line-height:1.2em;}
main{font-size:1em;}
ul,ol{padding-left:24px;}
}
