@charset "utf-8";

* {box-sizing:border-box;}

html, body{margin:0; padding:0; font-family:Helvetica,Arial,sans-serif; width:100%; height:100%;}
body{background:#49a1cc url("images/background.jpg") no-repeat scroll 0 0 / 100%;}

header{max-width:1200px; width:100%; margin:0 auto;}
header a{display:inline-block;}
header h1{display:inline-block;margin-top:25px;}

#container{position:relative; margin:0 auto; padding:0; max-width:1200px; width:100%;}
main{background:rgba(255,255,255,0.9); width:100%; display:flex; flex-wrap:wrap;}
#cover{display:none;}

article{flex:80%; display:block; padding:25px; font-size:1.25em; line-height:1.6em; color:#333;}
nav{flex:20%; font-size:1em; border-right:1px solid #ddd; padding-top:10px;}
nav ul{list-style-type:none; margin:0 0 10px; padding:0 0 10px; border-bottom:1px solid #ddd;}
nav li{margin:0; padding:0;}
nav li a{display:block; padding:10px 0 10px 20px; text-decoration:none; color:#212121;}
nav li a:hover{background:#cde;}

#container h1{margin:0 0 24px 0;}
h2,h3,h4,h5,h6,p,table,dl,dd,ul,#container img,iframe{margin:0 0 20px 0;}
header h1 a img{margin-bottom:0px;}

article h1{font-size:1.4em; line-height:1.2em;}
article img{max-width:100%;}
h1 span{display:block; font-size:70%; color:#555; line-height:1.2em;}
h2{font-size:1.15em;}
h2 span{display:block; font-size:70%; color:#555; line-height:1em;}
a{color:#368;}
hr{height:0; border:none; border-top:1px solid #ddd;}

li{padding:0.2em 0;}
code{font-size:1.25em; background:#eee; line-height:1.5em;}

figure{margin:20px 0;}
figure img{max-width:100%;}
figcaption {font-style:oblique; color:#555; margin-top:-20px;}

dt{margin-top:1em;}
dd{margin-left:0; padding-left:1em; border-left:2px solid #ddd;}

table {border-collapse:collapse; width:100%; font-size:16px; line-height:1.35em;}
td, th {border:1px solid #ddd; padding:8px;}
tr:nth-child(odd){background-color:rgba(0,92,128,0.05);}
th {padding-top:12px; padding-bottom:12px; text-align:left; background-color:rgba(0,128,255,0.2); color:#000;}

footer {background:#fff none repeat scroll 0 0; padding:20px 60px 100px; text-align:center; font-size:12px; border-top:1px solid #ddd;}

.hamburger{display:none;}

#music{position:fixed; left:0; bottom:0; width:100%; height:64px; background:#fff; box-shadow:0px -5px 5px rgba(0,0,0,0.25); z-index:998;}
#music{display:none;}

.character{overflow:auto; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid rgba(0,0,0,0.25);}
.character h2{margin-bottom:10px;}
.description{}
#container .character img{margin:0 0 0 15px; float:right; width:140px;}

.center{margin:0 auto 20px;}
.left{float:left; margin:0 1em 1em 0;}
.right{float:right; margin:0 0 1em 1em;}

.videoWrapper {height:0; padding-bottom:75%; position:relative; background:#000; margin:0 0 20px 0;}
.videoWrapper iframe {position:absolute; top:0; left:0; width:100%; height:100%;}

.videoWrapper16x9 {height:0; padding-bottom:56.35%; position:relative; background:#000; margin:0 0 20px 0;}
.videoWrapper16x9 iframe {position:absolute; top:0; left:0; width:100%; height:100%;}

.flex_images{box-sizing:border-box; margin:0; display:flex; flex-wrap:wrap; padding:0 4px;}
.flex_images img{width:100%;}

.half {flex:50%; max-width:50%;}
.third {flex:33.3%; max-width:33.3%;}
.quarter {flex:25%; max-width:25%;}

.column {padding:0 4px;}
.column img {margin-top:8px; vertical-align:middle;}

@media (max-width:900px) {
#container h1{margin:0 0 18px 0;}
h2,h3,h4,h5,h6,p,table,dl,dd,ul,#container img,iframe{margin:0 0 16px 0;}
header{height:94px;}
.hamburger{display:inline-block; width:94px; height:94px;}
nav{position:fixed; top:0; left:0; height:100%; background:#fff; overflow-y:scroll; box-shadow:5px 0 5px rgba(0,0,0,0.25); z-index:999; margin:0;}
article{width:92%; padding:15px;}
header h1{margin:0;}
header h1 a img{height:78px;padding-bottom:16px;margin:0;}
#cover{display:block; position:fixed; top:0px; background:rgba(0,0,0,0.6); width:100%; height:100%; z-index:997;}
.closed{display:none !important;}
}

@media (max-width:640px) {
header{height:62px;}
.hamburger{width:62px; height:62px;}
header h1{margin:0;}
header h1 a img{height:52px;padding-bottom:8px;margin:0;}
article h1{font-size:1.2em;}
h2{font-size:1em;}
h3{font-size:0.9em;}
code{font-size:1em; background:#eee; line-height:1.2em;}
article{font-size:1em;}
ul,ol{padding-left:24px;}
}

@media (max-width:600px) {
.half {flex:100%; max-width:100%;}
.third {flex:100%; max-width:100%;}
.quarter {flex:100%; max-width:100%;}
}

@media (max-width:480px) {
.shrinkRight{width:90px;}
#container .character img{width:100px;}
}